* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after, &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@font-face {
    font-family: Magneto;
    font-display: auto;
    src: url('../fonts/MAGNETOB.TTF');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: auto;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    body {
        font-size: 1.4rem;
        background: #f9f9f9;
        .container {
            max-width: 120rem;
            width: 100%;
            margin: 0 auto;
        }
        h2 {
            font-size: 3rem;
        }
    }
}

@media print {
  html {
    body {
      background: #fff;
    }
  }
}

.layout-enter, .layout-leave-to {
    opacity: 0;
}

.layout-enter-active, .layout-leave-active {
    transition: opacity .2s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}

.ant-card-actions {
    margin-top: auto !important;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.top {
  clip-path: polygon(0 0, 100% 0, 100% 66.67%, 0 100%);
  height: 45rem;
  //background: #1a1c33;
  background: $primary-color;
  border-radius: .5rem .5rem 0 0;
  display:flex;
  flex-direction: column;
  .menu {
    width: fit-content;
    margin-left: auto;
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 1.6rem;
  }
}

.topContainer {
  position: relative;
  .topContent {
    position: absolute;
    top: 21rem;
    left: 50%;
    transform: translateX(-50%);
    width: 120rem;
    color: $primary-color;
  }
}

.body {
  .content {
    margin: 0 auto;
    max-width: 140rem;
    .productList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6rem;
      list-style-type: none;
      padding-left: 0;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;

  .wide {
    grid-column: span 2;
  }

  .title {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .flex-end {
    justify-content: flex-end
  }

  .action {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .error {
    grid-column: span 2;
    padding: 1.7rem 3rem;
    font-size: 1.8rem;
    background: #FF9494;
    border-radius: $border-radius;
    display: none;
  }

  .label {
    display: flex;
    justify-content: flex-end;

    p {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
  }

  .input {
    display: flex;

    input {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      font-variant: tabular-nums;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      width: 100%;
      height: 32px;
      padding: 3rem;
      font-size: 1.8rem;
      line-height: 1.5;
      background-color: #fff;
      background-image: none;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: $border-radius;
      -webkit-transition: all .3s;
      transition: all .3s;

      &::placeholder {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  .input-radio {
    width: 18px;
    height: 18px;
    -webkit-box-shadow: 0 0 0 0 #2d2d2d inset;
    box-shadow: 0 0 0 0 #2d2d2d inset;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    vertical-align: -4px;
    border: 1px solid;
    border-radius: 50%;
    appearance: none;

    &:checked {
      border: none;
      box-shadow: 0 0 0 6px #2d2d2d inset;
    }
  }
}

@media screen and (max-width: 1024px) {
  .body {
    .content {
      .productList {
        grid-template-columns: 1fr 1fr;
        // margin: 0 6rem;
      }
    }
  }

  .top {
    height: 20rem;
  }

  #__layout .wrapper .body-content {
    margin-top: -12rem;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .body {
    .content {
      .productList {
        grid-template-columns: 1fr;
        // margin: 0 3rem;
        gap: 2rem;
      }
    }
  }

  .form {
    grid-template-columns: 1fr;
    .wide {
      grid-column: span 1;
    }
  }
}
